* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Poppins', sans-serif;
        overflow-x: hidden;
        background-color: #152238;

        
}
.wrapper {
	width: 1170px;
	margin: auto;
}

.logo {
	float: left;
}
.logo img {
	width: 100%;
	padding: 15px 0;
}
.nav-area {
	float: right;
	list-style: none;
	margin-top: 30px;
}

.nav-area li {
	display: inline-block;
}

.nav-area li a {
	color: #fff;
	text-decoration: none;
	padding: 5px 20px;
	font-family: poppins;
	font-size: 16px;
	text-transform: uppercase;
}

.nav-area li a:hover {
	background: #fff;
	color: #333;
}

.about-us .section-heading h2 {
	font-size: 50px;
        margin-top: 10px;
	margin-bottom: 100px;
        color: #fff;
        text-align: center;
}

.about-us .section-heading p {
	font-size: 14px;
	color: #fff;
	padding: 0px 20%;
	text-align: center;
	margin-bottom: 40px;
}

.about-us h6 {
	margin-bottom: 15px;
	margin-top: 30px;
	font-size: 16px;
	font-weight: 700;
	color: #fff;
}

.about-us p {
	font-size: 14px;
	color: #fff;
}