body {
	font-size: 20px 
        font-family: 'Poppins', sans-serif;
	color: #fff;
	background: #FFF;
	margin: 0;
	padding: 0;
}
#wrapper {
	margin: 0 auto;
	width: 0;
}
#content {
	margin: 0 25px 0 25px;
	padding: 10px;
}
#content p {
	margin: 0 130px 6px 0;
	text-align: justify;
}
#nav {
	position: static;
	float: right;
	width: 100px;
}
#nav ul {
	margin: 15px 0 15px 0;
	padding: 0;
	list-style: none;
	border: 0;
}
#nav li {
	text-align: center;
	border-bottom: 1px solid #000;
	width: 100px;
	margin: 0;
	padding: 0;
	font: 10px/15px "Lucida Sans Unicode", Verdana, sans-serif;
	color: #000;
	background: #FFF;
}
.navtop {
	border-top: 1px solid #000;
}
#nav li a {
	display: block;
	font-weight: normal;
	padding: 0;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	background: #FFF;
	color: #000;
	text-decoration: none;
	width: 100px;
	voice-family: "\"}\"";
	voice-family: inherit;
	width: 98px;
}
html>#nav li a {
	width: 98px;
}
#nav li a:hover {
	font-weight: normal;
	background: #999;
	color: #000;
	text-decoration: none;
}
#nav h3 {
	font-size: 120%;
	text-decoration: underline;
	background-image: none;
	text-align: center;
	padding: 0;
}
#footer {
	border-bottom: 1px solid #000;
	border-top: 1px solid #000;
	margin: 0 25px 0 25px;
	padding: 10px;
}
.error {
	color: #FF0033
}

* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Poppins', sans-serif;
        overflow-x: hidden;
        background-color: #152238;

        
}
.wrapper {
	width: 1170px;
	margin: auto;
}

.logo {
	float: left;
}
.logo img {
	width: 100%;
	padding: 15px 0;
}

.nav-area {
	float: right;
	list-style: none;
	margin-top: 30px;
}

.nav-area li {
	display: inline-block;
}

.nav-area li a {
	color: #fff;
	text-decoration: none;
	padding: 5px 20px;
	font-family: poppins;
	font-size: 16px;
	text-transform: uppercase;
}

.nav-area li a:hover {
	background: #fff;
	color: #333;
}

.about-us .section-heading h2 {
	font-size: 60px;
        margin-top: 10px;
	margin-bottom: 100px;
        color: #fff;
        text-align: center;
}

.about-us .section-heading p {
	font-size: 14px;
	color: #fff;
	padding: 0px 20%;
	text-align: center;
	margin-bottom: 40px;
}

.about-us h6 {
	margin-bottom: 15px;
	margin-top: 30px;
	font-size: 16px;
	font-weight: 700;
	color: #fff;
}

.about-us p {
	font-size: 14px;
	color: #fff;
}


table {
width: 100%;
color: #588c7e;
font-family: Poppin;
font-size: 20px;
text-align: left;
}

th {
background-color: #588c7e;
color: white;
}

tr:nth-child(even) {background-color: #f2f2f2}



